body {
    max-width: 100%;
    font-family: Arial;
    background-color: black;
}
.container {
    width: 100%;
    height: 1180px;
    position: absolute;
    margin: 0px;
    top: 0px;
    background-color: #eae8ce;
}
.page-header {
    width: 100%;
    height: 270px;

}
.page-header img {
    display: inline-block;
    width: 100%;

}
.page-header h1 {
    display: inline-block;
    position: absolute;
    left: 40px;
    top: 0px;
    color: #35151e;
    font-size: 2.8em;
}
.nav-header {
    display: inline-block;
    width: 100%;
    height: 40px;
    background-color: #cfcb87;
    position: absolute;
    top: 225px;
}
.nav-container {
    height: 40px;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    float: right;
    margin: 0;
    padding: 0;
    background-color: #cfcb87;
}
.item {
    height: 29px;

    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
}
.item a {
    text-decoration: none;
    font-size: 1.1em;
    text-transform: uppercase;
    color: #35151e;
}
.item:hover {
    background-color: #c7dcc2;
}

.item a:hover {
    color: #ffffff;
}
.home-article {
    display: inline-block;
    width: 70%;
    height: 660px;
    position: absolute;
    float: left;
    margin-top: 60px;
    left: 30px;
}
.article-header {
    text-transform: uppercase;
    padding-left: 20px;
    color: #35151e;

}
.info-article {
    display: flex;
    width: 100%;

}
.info-article img {

    float: left;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.info-gary {
    float: right;
    padding: 20px;
}
.text {
    font-size: 0.8em;
}
.bold {
    font-weight: bold;
}
section {
    display: inline-block;
    width: 70%;
    position: absolute;
    margin-top: 20px;
    left: 30px;
    background-color: #eae8ce;
}
.section-header {
    padding-left: 20px;
    color: #35151e;
}
.section-element {
    display: flex;
    justify-content: space-between;
    background-color: #eae8ce;
}
.image {
    width: 38%;
    height: 160px;
    padding: 20px;
}
.product {
    width: 60%;
    height: 160px;
    padding: 20px;
    font-size: 0.8em;
}
.top {
    width: 20%;
    height: 220px;
    position: absolute;
    top: 340px;
    right: 30px;
    font-size: 0.8em;
}

.bottom {
    width: 20%;
    height: 220px;
    position: absolute;
    top: 570px;
    right: 30px;
    font-size: 0.8em;
}
.registrationForm {
    width: 20%;
    height: 120px;
    position: absolute;
    top: 850px;
    right: 10px;
    font-size: 0.8em;
}
.aside-top-header {
    text-transform: uppercase;
    padding-left: 20px;
    color: green;
}
.aside-bottom-header {
    text-transform: uppercase;
    padding-left: 20px;
    color: green;
}
.aside-registrationForm {
    text-transform: uppercase;
    padding-left: 20px;
    color: green;
}
.date {
    font-weight: bold;
}
.news a {
    color: green;
}
.news, .messages {
    padding: 10px 20px;
    margin-top: -20px;
}
.news {
    margin-bottom: 10px;
}
.messages a {
    color: green;
    padding-bottom: 20px;
}
.author {
    font-weight: bold;
}
footer {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    background-color: #eae8ce;
}
.social-networks {
    width: 15%;
    display: flex;
    justify-content: space-between;
    float: right;
    margin-right: 100px;
    margin-top: 10px;
}
.copyRights h4 {
    color: black;
    font-size: 0.8em;
    margin-left: 60px;

}
